<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Scot-Study | Dashboard </title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
        type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="/admin_theme/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="/admin_theme/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="/admin_theme/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- JQuery DataTable Css -->
    <link href="/admin_theme/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">

    <!-- Morris Chart Css-->
    <link href="/admin_theme/plugins/morrisjs/morris.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="/admin_theme/css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="/admin_theme/css/themes/all-themes.css" rel="stylesheet" />
    <!-- JQuery DataTable Css -->
    <link href="/admin_theme/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">

    <!-- Bootstrap Select Css -->
    <link href="/admin_theme/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <!-- Jquery Core Js -->
    <script src="/admin_theme/plugins/jquery/jquery.min.js"></script>
</head>

<body class="theme-indigo">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="/dashboard">Scotstudy Dashboard</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <!-- #END# Tasks -->
                    <li title="Logout" class="pull-right"><a href="/user/logout" class="js-right-sidebar"
                            data-close="true"><i class="material-icons">
                                exit_to_app
                            </i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar hidden-print">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    {{#if user.photo}}
                    <img src="/photos/{{user.photo}}" width="48" height="48" alt="User" />
                    {{else}}
                    <img src="/photos/no_photo.jpg" width="48" height="48" alt="User" />
                    {{/if}}
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{user.username}}</div>
                    <div class="email">{{user.email}}</div>

                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu hidden-print">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active">
                        <a href="/dashboard">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="/user/all">
                            <i class="material-icons">group</i>
                            <span>Users</span>
                        </a>
                    </li>
                    {{#if user.roleId}}
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">location_city</i>
                            <span>Cities</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="/city/add">
                                    <span>Create</span>
                                </a>
                            </li>
                            <li>
                                <a href="/city/listing">
                                    <span>List</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">school</i>
                            <span>Institutions</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="/institution/add">
                                    <span>Create</span>
                                </a>
                            </li>
                            <li>
                                <a href="/institution/listing">
                                    <span>List</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">unfold_more</i>
                            <span>Degree Type</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="/degree-type/add">
                                    <span>Create</span>
                                </a>
                            </li>
                            <li>
                                <a href="/degree-type/listing">
                                    <span>List</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">unfold_more</i>
                            <span>Banners & Logos</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="/siteImage/add">
                                    <span>Create</span>
                                </a>
                            </li>
                            <li>
                                <a href="/siteImage/listing">
                                    <span>List</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">filter_center_focus</i>
                            <span>Study Area</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="/study-area/add">
                                    <span>Create</span>
                                </a>
                            </li>
                            <li>
                                <a href="/study-area/listing">
                                    <span>List</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">library_books</i>
                            <span>Courses</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="/course/add">
                                    <span>Create</span>
                                </a>
                            </li>
                            <li>
                                <a href="/course/listing">
                                    <span>List</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">school</i>
                            <span>Visa Guide</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="/guideline/add">
                                    <span>Create/Edit</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">school</i>
                            <span>Pre-departure</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="/departure/add">
                                    <span>Create/Edit</span>
                                </a>
                            </li>

                        </ul>
                    </li>

                    {{/if}}
                    <li>
                        <a href="/user/myAccount">
                            <i class="material-icons">
                                account_circle
                            </i>
                            <span>My account</span>
                        </a>

                    </li>
                    <li>
                        <a href="/user/inbox">
                            <i class="material-icons">inbox</i>
                            <span>Inbox</span>
                        </a>

                    </li>
                    <li>
                        <a href="/user/sentMessages">
                            <i class="material-icons">arrow_forward</i>
                            <span>Sent Messages</span>
                        </a>

                    </li>
                    <li>
                        <a href="/user/photo">
                            <i class="material-icons">photo</i>
                            <span>Photo</span>
                        </a>

                    </li>
                    <li>
                        <a href="/help">
                            <i class="material-icons">contact_support</i>
                            <span>Help</span>
                        </a>
                    </li>
                    <li>
                        <a href="/checklist">
                            <i class="material-icons">
                                done_all
                            </i>
                            <span>Checklist</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2020 <a href="javascript:void(0);">Scotstudy - Portal</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.5
                </div>
            </div>
            <!-- #Footer -->
        </aside>
    </section>

    {{{body}}}



    <!-- Bootstrap Core Js -->
    <script src="/admin_theme/plugins/bootstrap/js/bootstrap.js"></script>



    <!-- Slimscroll Plugin Js -->
    <script src="/admin_theme/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="/admin_theme/plugins/node-waves/waves.js"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="/admin_theme/plugins/jquery-countto/jquery.countTo.js"></script>

    <!-- Morris Plugin Js -->
    <script src="/admin_theme/plugins/raphael/raphael.min.js"></script>
    <script src="/admin_theme/plugins/morrisjs/morris.js"></script>

    <!-- ChartJs -->
    <script src="/admin_theme/plugins/chartjs/Chart.bundle.js"></script>

    <!-- Flot Charts Plugin Js -->
    {{!-- <script src="/admin_theme/plugins/flot-charts/jquery.flot.js"></script>
    <script src="/admin_theme/plugins/flot-charts/jquery.flot.resize.js"></script>
    <script src="/admin_theme/plugins/flot-charts/jquery.flot.pie.js"></script>
    <script src="/admin_theme/plugins/flot-charts/jquery.flot.categories.js"></script>
    <script src="/admin_theme/plugins/flot-charts/jquery.flot.time.js"></script> --}}

    <!-- Sparkline Chart Plugin Js -->
    <script src="/admin_theme/plugins/jquery-sparkline/jquery.sparkline.js"></script>





    <script src="/admin_theme/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="/admin_theme/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="/admin_theme/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="/admin_theme/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="/admin_theme/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="/admin_theme/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="/admin_theme/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="/admin_theme/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="/admin_theme/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>

    <!-- Custom Js -->
    <script src="/admin_theme/js/admin.js"></script>
    <script src="/admin_theme/js/pages/tables/jquery-datatable.js"></script>




    <!-- Jquery Validation Plugin Css -->
    <script src="/admin_theme/plugins/jquery-validation/jquery.validate.js"></script>

    <!-- JQuery Steps Plugin Js -->
    <script src="/admin_theme/plugins/jquery-steps/jquery.steps.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="/admin_theme/plugins/node-waves/waves.js"></script>

    <script src="/admin_theme/js/pages/forms/form-wizard.js"></script>


    <!-- Demo Js -->
    <script src="/admin_theme/js/demo.js"></script>

</body>

</html>