<!-- Waves Effect Css -->
<section class="content">
    <div class="container-fluid">
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            List of applicants
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead>
                                    <tr>
                                         <th>id</th>
                                        <th>Full name</th>
                                        <th>Status</th>
                                        <th>Decision</th>
                                        <th>Date</th>
                                        <th>Details</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {{#each app}}
                                    <tr>
                                        <td>{{this.serial}}</td>
                                        <td>{{this.fullName}}</td>
                                        <td>
                                            {{#if this.hasSubmitted}}
                                            SUBMITTED
                                            {{else}}
                                            NOT SUBMITTED
                                            {{/if}}
                                        </td>
                                        <td>{{this.decision}}</td>
                                        <td>{{this.date}}</td>
                                        <td><a href="/application/applicationByUser/{{this.userId}}">View more</a></td>
                                        <td><a href="/application/hide/{{this.id}}"><img style="height: 30px; width:30px" src="/fancy_buttons/delete.ico"/></a></td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery DataTable Plugin Js -->