<title>Scotiaworld | Course-Detail</title>
<!-- bread-crumb start here -->
<div class="bread-crumb">
	<img src="/main_theme/images/banner-top.jpg" class="img-responsive" alt="banner-top" title="banner-top">
	<div class="container">
		<div class="matter">
			<h2><a
					href='/school-faculties/{{course.Institution.name}}/{{course.Institution.id}}'>{{course.Institution.name}}</a>
			</h2>
			<ul class="list-inline">
				<li>
					<a
						href='/school-faculties/{{course.Institution.name}}/{{course.Institution.id}}'>{{course.Institution.name}}</a>
				</li>
				<li>
					<a href="#">{{course.name}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- bread-crumb end here -->

<!-- eventview start here -->

<div class="eventview">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 hidden-sm  hidden-xs">
				<div class="left">
					<h4>{{best}}</h4>
					<div class="popular">
						{{#each data }}
						<a href="/detail/{{this.Institution.name}}/{{this.name}}/{{this.id}}">
							<div class="box">
								<img style="height:150px" width="100%" src="/uploads/{{this.path}}"
									class="img-thumbnail" alt="img" title="img" />
								<p><strong>{{this.Institution.name}}</strong></p>
								<p>{{this.name}}</p>
								<span>{{this.fee}}</span>
							</div>
						</a>
						{{/each}}
						<hr>
						<h5 style="text-align: center;"><a href="/popular-Courses">View more ...</a></h5>
					</div>
				</div>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
				<div class="box">
					<div class="image">
						<img src="/main_theme/images/default_course.jpg" class="img-responsive" alt="img" title="img" />
					</div>
					<ul class="list-inline">
						<li>
							<i class="icofont icofont-clock-time"></i>
							<div class="text">
								<p>Duration</p>
								<span><strong>{{course.duration}}</strong></span>
							</div>
						</li>
						<li>
							<i class="icofont icofont-money-bag"></i>
							<div class="text">
								<p>Tuition fee</p>
								<span><strong>{{course.fee}}</strong></span>
							</div>
						</li>
						<li>
							<i class="icofont icofont-social-google-map"></i>
							<div class="text">
								<p>Degree</p>
								<span><strong>{{course.DegreeType.name}}</strong></span>
							</div>
						</li>
					</ul>
				</div>
				<div class="matter">
					<h4>{{course.name}}</h4>
					<button type="button">Apply online</button>
					<hr>
					<h3>Requirements</h3>
					<div id="requirement"></div>
					<input value="{{course.DegreeType.requirements}}" id="edit" type="hidden" />


				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
		var text = $("#edit").val();

		$("#requirement").html(text);

		$('.example').DataTable();
		$(document).ready(function () {
			// Handler for .ready() called.
			$('html, body').animate({
				scrollTop: $('#faculty').offset().top
			}, 'slow');

			$(".linkCourse").click(function (e) {
				e.preventDefault();
				$('html, body').animate({
					scrollTop: $('#course').offset().top
				}, 'slow');
			})
		});
	});

</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" type="text/javascript"></script>
<!-- coures end here -->