<!-- Waves Effect Css -->
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<section class="content">
  <!-- Advanced Form Example With Validation -->
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          {{#if user.roleId}}
          <h2>Application details/decison</h2> <button id="btnPdf" type="button"
            class="btn btn-primary pull-right">Generate Pdf</button>
          {{else}}
          <h2>
            APPLICATION PREVIEW
          </h2>
          <h5>Please kindly ensure that below details are correct before submission as forms cannot be modified
            afterwards.</h5>
          {{/if}}


        </div>
        <div class="body table-responsive">

          <form method="POST" {{#if user.roleId}} action="/application/decision" {{else}}
            action="/application/finalSubmit" enctype="multipart/form-data" {{/if}} />
          <table class="table table-condensed">
            <input type="hidden" name="id" value="{{app.id}}" />
            <tbody>
              <tr class="active">
                <th scope="row">First name:</th>
                <td><input id="1" disabled name="firstname" value="{{app.firstname}}" class="form-control" /></td>
                {{#if user.roleId}}
                <td></td>
                {{else}}

                <td><a onclick="return toggleEditMode('1')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}

              </tr>
              {{#if app.middlename}}
              <tr class="active">
                <th scope="row">Middle name:</th>
                <td><input id="100" disabled name="middlename" value="{{app.middlename}}" class="form-control" /></td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('100')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              {{/if}}
              <tr class="active">
                <th scope="row">Last name:</th>
                <td><input id="2" disabled name="lastname" value="{{app.lastname}}" class="form-control" /></td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('2')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              <tr class="active">
                <th scope="row">Nationality:</th>
                <td>
                  <select id="3" disabled class='form-control show-tick' name="countryId" required>
                    <option value='{{app.countryId}}'>
                      {{#if app.countryId}}
                      {{app.Country.name}}
                      {{else}}
                      --Select Nationality--
                      {{/if}}
                    </option>
                    {{#each countries}}
                    <option value='{{this.id}}'>{{this.name}}</option>
                    {{/each}}
                  </select>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('3')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              <tr class="active">
                <th scope="row">Date of birth:</th>
                <td><input id="4" disabled name="dob" value="{{app.dob}}" class="form-control" /></td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('4')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              <tr class="active">
                <th scope="row">Gender:</th>
                <td><select id="5" disabled class='form-control show-tick' name="gender" required>
                    <option value='{{app.gender}}'>
                      {{#if app.gender}}
                      {{app.gender}}
                      {{else}}
                      --Select Gender--
                      {{/if}}

                    </option>
                    <option value='Male'>Male</option>
                    <option value='Female'>Female</option>
                  </select>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('5')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              <tr class="active">
                <th scope="row">Marital staus:</th>
                <td>
                  <select id="6" disabled class='form-control show-tick' name="marital" required>
                    <option value='{{app.marital}}'>
                      {{#if app.marital}}
                      {{app.marital}}
                      {{else}}
                      --Select Marital Status--
                      {{/if}}
                    </option>
                    <option value='Married'>Married</option>
                    <option value='Single'>Single</option>
                  </select>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('6')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              <tr class="active">
                <th scope="row">Home Address:</th>
                <td>
                  <textarea id="7" disabled name="homeAddress" cols="30" rows="3" placeholder="home address"
                    class="form-control no-resize">{{app.homeAddress}}</textarea>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('7')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              {{#if app.postalAddress}}
              <tr class="active">
                <th scope="row">Postal address:</th>
                <td>
                  <textarea id="8" disabled name="postalAddress" cols="30" rows="3" placeholder="postal address"
                    class="form-control no-resize">{{app.postalAddress}}</textarea>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('8')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              {{/if}}
              <tr class="active">
                <th scope="row">Phone number:</th>
                <td>
                  <input id="9" disabled type="text" name="phone" value="{{app.phone}}"
                    class="form-control mobile-phone-number" placeholder="Ex: +00 (000) 000-00-00" required>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('9')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              <tr class="active">
                <th scope="row">Contact Email:</th>
                <td>
                  <input id="99" disabled type="text" name="contactEmail" value="{{app.contactEmail}}"
                    class="form-control mobile-phone-number" placeholder="" required>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('99')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>

              <tr class="active">
                <th scope="row">Highest qualification:</th>
                <td>
                  <select id="10" disabled class='form-control' name="hQualification" required>
                    <option value='{{app.hQualification}}'>

                      {{#if app.hQualification}}
                      {{app.hQualification}}
                      {{else}}
                      --Select Highest Qualification--
                      {{/if}}

                    </option>
                    {{#each quali}}
                    <option value='{{this.name}}'>{{this.name}}</option>
                    {{/each}}
                  </select>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('10')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              <tr class="active">
                <th scope="row">Grade:</th>
                <td>
                  <input id="11" disabled name="hGrade" value="{{app.hGrade}}" class="form-control" type="text"
                    required>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('11')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              <tr class="active">
                <th scope="row">School name:</th>
                <td>
                  <input id="12" disabled name="hSchoolName" value="{{app.hSchoolName}}" class="form-control"
                    type="text" required>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('12')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              <tr class="active">
                <th scope="row">Has completed? :</th>
                <td>
                  <select id="13" disabled class='form-control' name="hCompleted" required>
                    <option value='{{app.hCompleted}}'>
                      {{#if app.hCompleted}}
                      {{app.hCompleted}}
                      {{else}}
                      --Programme Completed?--
                      {{/if}}

                    </option>
                    <option value='Yes'>Yes</option>
                    <option value='No'>No</option>
                  </select>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('13')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              <tr class="active">
                <th scope="row">Programme year:</th>
                <td>
                  <select id="14" disabled class='form-control' name="hProgrammeYear" required>
                    <option value='{{app.hProgrammeYear}}'>
                      {{#if app.hProgrammeYear}}
                      {{app.hProgrammeYear}}
                      {{else}}
                      --Select Programme Year--
                      {{/if}}

                    </option>
                    {{#each year}}
                    <option value='{{this}}'>{{this}}</option>
                    {{/each}}
                  </select>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('14')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              {{#if app.pQualification.name}}
              <tr class="active">
                <th scope="row">Previous qualification:</th>
                <td>
                  <select id="15" disabled class='form-control' name="pQualification">
                    <option value='{{app.pQualification}}'>
                      {{#if app.pQualification}}
                      {{app.pQualification}}
                      {{else}}
                      --Select Previous Qualification--
                      {{/if}}

                    </option>
                    {{#each quali}}
                    <option value='{{this.name}}'>{{this.name}}</option>
                    {{/each}}
                  </select>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('15')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>


              <tr class="active">
                <th scope="row">Grade:</th>
                <td>
                  <input id="16" disabled name="pGrade" value="{{app.pGrade}}" class="form-control" type="text">
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('16')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              <tr class="active">
                <th scope="row">School name:</th>
                <td>
                  <input id="17" disabled name="pSchoolName" value="{{app.pSchoolName}}" class="form-control"
                    type="text">
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('17')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              <tr class="active">
                <th scope="row">Programme completed?:</th>
                <td>
                  <select id="18" disabled class='form-control' name="pCompleted">
                    <option value='{{app.pCompleted}}'>
                      {{#if app.pCompleted}}
                      {{app.pCompleted}}
                      {{else}}
                      --Select Programme Completed?--
                      {{/if}}

                    </option>
                    <option value='Yes'>Yes</option>
                    <option value='No'>No</option>
                  </select>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('18')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              <tr class="active">
                <th scope="row">Programme year:</th>
                <td>
                  <select id="19" disabled class='form-control' name="pProgrammeYear">
                    <option value='{{app.pProgrammeYear}}'>
                      {{#if app.pProgrammeYear}}
                      {{app.pProgrammeYear}}
                      {{else}}
                      --Select Programme Year--
                      {{/if}}

                    </option>
                    {{#each year}}
                    <option value='{{this}}'>{{this}}</option>
                    {{/each}}
                  </select>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('19')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              {{/if}}

              {{#if app.highSchoolName}}
              <tr class="active">
                <th scope="row">High school name:</th>
                <td>
                  <input id="20" disabled name="highSchoolName" value="{{app.highSchoolName}}" class="form-control"
                    type="text">
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('20')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              <tr class="active">
                <th scope="row">Year of completion:</th>
                <td>
                  <select id="21" disabled class='form-control' name="completionYr">
                    <option value='{{app.completionYr}}'>
                      {{#if app.completionYr}}
                      {{app.completionYr}}
                      {{else}}
                      --Select Year of Completion--
                      {{/if}}
                    </option>
                    {{#each year}}
                    <option value='{{this}}'>{{this}}</option>
                    {{/each}}
                  </select>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('21')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              {{/if}}
              {{#if app.englishTest}}
              <tr class="active">
                <th scope="row">English proficiency test:</th>
                <td>
                  <select id="22" disabled class='form-control' name="englishTest">
                    <option value='{{app.englishTest}}'>
                      {{#if app.englishTest}}
                      {{app.englishTest}}
                      {{else}}
                      --Select English proficiency Test--
                      {{/if}}
                    </option>
                    <option value='IELTS'>IELTS</option>
                    <option value='TOEFL'>TOEFL</option>
                    <option value='PTE'>PTE</option>
                    <option value='NONE'>NONE</option>
                  </select>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('22')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              {{/if}}

              {{#if app.course1}}
              <tr class="active">
                <th scope="row">Course of interest (first choice):</th>
                <td>
                  <select id="23" disabled class='form-control' name="course1" required>
                    <option value='{{app.course1}}'>
                      {{#if app.course1}}
                      {{app.course1}}
                      {{else}}
                      --Select Course of Interest--
                      {{/if}}
                    </option>
                    {{#each courses}}
                    <option value='{{this.name}}'>{{this.name}}</option>
                    {{/each}}
                  </select>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('23')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              {{/if}}

              {{#if app.course2}}
              <tr class="active">
                <th scope="row">Course of interest (second choice):</th>
                <td>
                  <select id="24" disabled class='form-control' name="course2" required>
                    <option value='{{app.course2}}'>
                      {{#if app.course2}}
                      {{app.course2}}
                      {{else}}
                      --Select Course of Interest--
                      {{/if}}
                    </option>
                    {{#each courses}}
                    <option value='{{this.name}}'>{{this.name}}</option>
                    {{/each}}
                  </select>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('24')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              {{/if}}

              {{#if app.level}}
              <tr class="active">
                <th scope="row">Programme level:</th>
                <td>
                  <select id="25" disabled class='form-control' name="level" required>
                    <option value='{{app.level}}'>
                      {{#if app.level}}
                      {{app.level}}
                      {{else}}
                      --Programme Level--
                      {{/if}}
                    </option>
                    {{#each quali}}
                    <option value='{{this.name}}'>{{this.name}}</option>
                    {{/each}}
                  </select>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('25')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              {{/if}}

              {{#if app.City.name}}
              <tr class="active">
                <th scope="row">Preferred location in Scotland:</th>
                <td>
                  <select id="26" disabled class='form-control' name="cityOfChoice" required>
                    <option value='{{app.cityId}}'>
                      {{#if app.cityId}}
                      {{app.City.name}}
                      {{else}}
                      --Preffere Location--
                      {{/if}}
                    </option>
                    {{#each cities}}
                    <option value='{{this.id}}'>{{this.name}}</option>
                    {{/each}}
                  </select>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('26')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              {{/if}}

              {{#if app.schoolWish1}}
              <tr class="active">
                <th scope="row">Preferred institution (first choice):</th>
                <td>
                  <select id="27" disabled class='form-control' name="schoolWish1" required>
                    <option value='{{app.schoolWish1}}'>
                      {{#if app.schoolWish1}}
                      {{app.schoolWish1}}
                      {{else}}
                      --Select School--
                      {{/if}}
                    </option>
                    {{#each institutions}}
                    <option value='{{this.name}}'>{{this.name}}</option>
                    {{/each}}
                  </select>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('27')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              {{/if}}

              {{#if app.schoolWish2}}
              <tr class="active">
                <th scope="row">Preferred institution (second choice):</th>
                <td>
                  <select id="28" disabled class='form-control' name="schoolWish2" required>
                    <option value='{{app.schoolWish2}}'>
                      {{#if app.schoolWish2}}
                      {{app.schoolWish2}}
                      {{else}}
                      --Select School--
                      {{/if}}
                    </option>
                    {{#each institutions}}
                    <option value='{{this.name}}'>{{this.name}}</option>
                    {{/each}}
                  </select>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('28')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              {{/if}}
              {{#if app.sponsor}}
              <tr class="active">
                <th scope="row">Sponsorship:</th>
                <td>
                  <select id="29" disabled name="sponsor" class="form-control" required>
                    <option value='{{app.sponsor}}'>
                      {{#if app.sponsor}}
                      {{app.sponsor}}
                      {{else}}
                      --Select Sponsor--
                      {{/if}}
                    </option>
                    <option value="Self-sponsored">Self-sponsored</option>
                    <option value="Parents">Parents</option>
                    <option value="Other relatives">Other relatives</option>
                    <option value="Employer">Employer</option>
                    <option value="Scholarship">Scholarship</option>
                  </select>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('29')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              {{/if}}
              {{#if app.sponsorName}}
              <tr class="active">
                <th scope="row">Sponsor's name:</th>
                <td>
                  <input id="30" disabled name="sponsorName" value="{{app.sponsorName}}" class="form-control"
                    type="text" required>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('30')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              {{/if}}
              {{#if app.sponsorOccupation}}
              <tr class="active">
                <th scope="row">Sponsor's occupation:</th>
                <td>
                  <input id="31" disabled name="sponsorOccupation" value="{{app.sponsorOccupation}}"
                    class="form-control" type="text" required>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('31')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              {{/if}}
              {{#if app.budget}}
              <tr class="active">
                <th scope="row">Your budget for tuition fees:</th>
                <td>
                  <input id="32" disabled name="budget" value="{{app.budget}}" class="form-control" type="text">
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('32')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              {{/if}}
              {{#if app.hasApplied}}
              <tr class="active">
                <th scope="row">Have you applied for a visa?:</th>
                <td>
                  <select id="33" disabled class='form-control' name="hasApplied" required>
                    <option value='{{app.hasApplied}}'>
                      {{#if app.hasApplied}}
                      {{app.hasApplied}}
                      {{else}}
                      --Select one of the options--
                      {{/if}}

                    </option>
                    <option value='Yes'>Yes</option>
                    <option value='No'>No</option>
                  </select>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('33')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              {{/if}}
              {{#if app.purpose}}
              <tr class="active">
                <th scope="row">Travel purpose:</th>
                <td>
                  <textarea id="34" disabled cols="30" rows="3" name="purpose"
                    class="form-control">{{app.purpose}}</textarea>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('34')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              {{/if}}
              {{#if app.reasonOfRefusal}}
              <tr class="active">
                <th scope="row">Purpose of denial:</th>
                <td>
                  <textarea id="35" disabled cols="30" rows="3" name="reasonOfRefusal"
                    class="form-control">{{app.reasonOfRefusal}}</textarea>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('35')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              {{/if}}
              {{#if app.reasonOfRefusal}}
              <tr class="active">
                <th scope="row">More Information:</th>
                <td>
                  <textarea id="36" disabled cols="30" rows="3" cols="30" name="moreInfo"
                    class="form-control">{{app.moreInfo}}</textarea>
                </td>
                {{#if user.roleId}}
                <td></td>
                {{else}}
                <td><a onclick="return toggleEditMode('36')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td>
                {{/if}}
              </tr>
              {{/if}}

              <tr class="active">
                <th scope="row">Credential(s):</th>
                <td>

                  <div id="upload" class="form-group">
                    <label>Please upload your credentials (zipped file or merged pdf file)</label>
                    <input class="form-control" type="file" name="credential" />
                  </div>
                  {{#if app.credential}}
                  <embed src="/credentials/{{app.credential}}" type="application/pdf" width="100%" height="600px" />
                  {{else}}
                  Document not uploaded yet.
                  {{/if}}
                </td>
                {{#if user.roleId}}
                
                {{!-- {{else}}
                <td><a onclick="return toggleEditMode('isUpload')" href=""><i class="material-icons">edit</i> <span
                      class="icon-name">edit</span></a></td> --}}
                {{/if}}
                <td></td>
              </tr>

            </tbody>
          </table>
          {{#if user.roleId}}
          <input type="hidden" name="userId" value="{{app.user.id}}" />
          <div class="demo-checkbox">
            <input type="checkbox" name="eligibilityCheck" id="basic_checkbox_1" class="filled-in"
              {{#if app.eligibilityCheck}}checked{{/if}} />
            <label for="basic_checkbox_1">Eligibility Check </label>
          </div>
          <div class="demo-checkbox">
            <input type="checkbox" name="reqProvision" id="basic_checkbox_2" class="filled-in"
              {{#if app.reqProvision}}checked{{/if}} />
            <label for="basic_checkbox_2">Requirement Provision </label>
          </div>
          <div class="demo-checkbox">
            <input type="checkbox" name="hasFinalSubmit" id="basic_checkbox_3" class="filled-in"
              {{#if app.hasFinalSubmit}}checked{{/if}} />
            <label for="basic_checkbox_3">Application Submitted </label>
          </div>
          <div class="form-group form-float">
            <label>Decision Status</label>
            <div class="form-line">
              <select class='form-control' id="cboDecision" name="decision" required>
                {{#if app.decision}}
                <option value='{{app.decision}}'>{{app.decision}}</option>
                {{else}}
                <option value=''>--Select--</option>
                {{/if}}
                <option value='Conditional Offer'>Conditional Offer</option>
                <option value='Unconditional Offer'>Unconditional Offer</option>
                <option value='Application Rejected'>Application Rejected</option>
              </select>
            </div>
          </div>
          <div class="demo-checkbox">
            <input type="checkbox" name="hasPaid" id="basic_checkbox_4" class="filled-in"
              {{#if app.hasPaid}}checked{{/if}} />
            <label for="basic_checkbox_4">Fee Payment Confirmation </label>
          </div>
          <div class="demo-checkbox">
            <input type="checkbox" name="hasCas" {{#if app.hasCas}}checked{{/if}} id="basic_checkbox_5"
              class="filled-in" />
            <label for="basic_checkbox_5">CAS Issuance</label>
          </div>
          <div id="txtReason" class="form-group  form-float">
            <label>Reason of rejection</label>
            <div class="form-line">
              <textarea cols="30" rows="3" name="reason" class="form-control"></textarea>
            </div>
          </div>
          <button type="submit" class="btn pull-right bg-primary waves-effect">Submit</button>

          {{else}}


          <a href="/application/step5" type="button" class="btn bg-orange waves-effect">
            <i class="material-icons">arrow_back</i> <span class="icon-name">back</span>
          </a>
          <button type="submit" class="btn pull-right bg-primary waves-effect">
            <i class="material-icons">arrow_forward</i> <span class="icon-name">Submit</span>
          </button>

          {{/if}}
          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- #END# Advanced Form Example With Validation -->
</section>
<!-- Jquery DataTable Plugin Js -->
<script>

  function toPdf() {


    
    var doc = new jsPDF()
    doc.setFontSize(26)
    doc.text(20, 20, 'APPLICATION FORM');
    var dob = "{{app.dob}}";
    var programYear = new Date("{{app.hProgrammeYear}}").getFullYear();

    var date = new Date(dob);
    var fullname = '{{app.firstname}} {{app.middlename}}  {{app.surname}}';

    doc.setFontSize(13)
    doc.text(20, 50, 'FULL NAME');

    doc.setFontSize(12);
    doc.text(20, 60,fullname );


    doc.setFontSize(13)
    doc.text(20, 70, 'DATE OF BIRTH');

    doc.setFontSize(12);
    doc.text(20, 80, date.getDay().toString() + "/" + date.getMonth().toString() + "/" + date.getFullYear().toString());

    doc.setFontSize(13)
    doc.text(20, 90, 'NATIONALITY');

    doc.setFontSize(12);
    doc.text(20, 100, '{{app.Country.name}}');

    doc.setFontSize(13)
    doc.text(20, 110, 'GENDER');

    doc.setFontSize(12);
    doc.text(20, 120, '{{app.gender}}');

    doc.setFontSize(13)
    doc.text(20, 130, 'MARITAL STATUS');

    doc.setFontSize(12);
    doc.text(20, 140, '{{app.marital}}');

    doc.setFontSize(13)
    doc.text(20, 150, 'HOME ADDRESS');

    doc.setFontSize(12);
    doc.text(20, 160, '{{app.homeAddress}}');
 
    doc.setFontSize(13)
    doc.text(20, 170, 'POSTAL ADDRESS');

    doc.setFontSize(12);
    doc.text(20, 180, '{{app.postalAddress}}'?'{{app.postalAddress}}':"No Postal Address");

    doc.setFontSize(13)
    doc.text(20, 190, 'PHONE');

    doc.setFontSize(12);
    doc.text(20, 200, '{{app.phone}}     Email:{{app.contactEmail}}');

    doc.setFontSize(13)
    doc.text(20, 210, 'HIGHEST QUALIFICATION');

    doc.setFontSize(12);
    doc.text(20, 220, '{{app.hQualification}}');

    doc.setFontSize(13)
    doc.text(20, 230, 'GRADE');

    doc.setFontSize(12);
    doc.text(20, 240, '{{app.hGrade}}');

    doc.setFontSize(13)
    doc.text(20, 250, 'SCHOOL NAME');

    doc.setFontSize(12);
    doc.text(20, 260, '{{app.hSchoolName}}');

    doc.setFontSize(13)
    doc.text(20, 270, 'COMPLETED? ' + '{{app.hCompleted}}' ? "YES" : "NO");


    doc.setFontSize(13)
    doc.text(20, 280, 'PROGRAMME YEAR');

    doc.setFontSize(12);
    doc.text(20, 290, programYear.toString());

    doc.addPage();

    doc.setFontSize(13)
    doc.text(20, 30, 'ENGLISH TEST');

    doc.setFontSize(12);
    doc.text(20, 40, '{{app.englishTest}}');

    doc.setFontSize(13)
    doc.text(20, 50, 'FIRST COURSE OF INTEREST');

    doc.setFontSize(12);
    doc.text(20, 60, '{{app.course1}}' + " at " + '{{app.schoolWish1}}');

    doc.setFontSize(13)
    doc.text(20, 70, 'SECOND COURSE OF INTEREST');

    doc.setFontSize(12);
    doc.text(20, 80, '{{app.course1}}' + " at " + '{{app.schoolWish2}}');

    doc.setFontSize(13)
    doc.text(20, 90, 'SPONSOR');

    doc.setFontSize(12);
    doc.text(20, 100, '{{app.sponsor}}');

    doc.setFontSize(13)
    doc.text(20, 110, "SPONSOR'S NAME");

    doc.setFontSize(12);
    doc.text(20, 120, '{{app.sponsorName}}');

    doc.setFontSize(13)
    doc.text(20, 130, "SPONSOR'S OCCUPATION");

    doc.setFontSize(12);
    doc.text(20, 140, '{{app.sponsorOccupation}}');

    doc.setFontSize(13)
    doc.text(20, 150, "BUDGET FOR TUITION FEE");

    doc.setFontSize(12);
    doc.text(20, 160, '{{app.budget}}');

    doc.setFontSize(13)
    doc.text(20, 170, "HAS APPLIED FOR VISE BEFORE");

    doc.setFontSize(12);
    doc.text(20, 180, '{{app.hasApplied}}');

    doc.setFontSize(13)
    doc.text(20, 190, "PURPOSE OF TRAVEL");

    doc.setFontSize(12);
    doc.text(20, 200, '{{app.purpose}}');

    var reasonForRefusal = "{{app.reasonOfRefusal}}";
    if (reasonForRefusal != "") {
      doc.setFontSize(13)
      doc.text(20, 210, "REASON OF REFUSAL");

      doc.setFontSize(12);
      doc.text(20, 220, '{{app.reasonOfRefusal}}');
    }



    doc.save(fullname+ new Date() +'.pdf')
  }
  function toggleEditMode(id) {
    if (id == "isUpload") {
      document.getElementById("upload").style.display = "block";
    }
    else {
      document.getElementById(id).disabled = false;
    }
    return false;
  }
  $(document).ready(function () {
    var btnPdf = $("#btnPdf");
    btnPdf.click(function () {
      toPdf();
    })
    $("#upload").hide();

  })

  $(function () {
    var txtReason = $("#txtReason");
    txtReason.hide();
    $("#cboDecision").change(function () {
      if ($(this).val() === "Application Rejected")
        txtReason.show();
      else {
        txtReason.hide();
      }
    })

  });
</script>