
<script src="/skdslider/src/skdslider.min.js"></script>
	<link href="/skdslider/src/skdslider.css" rel="stylesheet">
	<script type="text/javascript">
		jQuery(document).ready(function () {
			
			jQuery('#demo1').skdslider({
				slideSelector: '.slide',
				delay: 5000,
				animationSpeed: 2000,
				showNextPrev: false,
				showPlayButton: false,
				autoSlide: true,
				animationType: 'fading'
			});

			jQuery('#demo2').skdslider({
				slideSelector: '.slide',
				delay: 5000,
				animationSpeed: 1000,
				showNextPrev: false,
				showPlayButton: false,
				autoSlide: true,
				animationType: 'sliding'
			});
		});
	</script>
<style>
	@media only screen and (max-width: 768px) {
		.d-block {
			height: 200px;
		}
	}

	.video-responsive {
		overflow: hidden;
		padding-bottom: 56.25%;
		position: relative;
		height: 0;
	}

	.video-responsive iframe {
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		position: absolute;
	}

	.tales {
		width: 100%;
	}

	.carousel-inner {
		width: 100%;
		max-height: 350px !important;
	}
</style>
<div class="course">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div id="demo1">
					{{#each banner}}
					<div class="slide">
						<img src="/uploads/{{this.path}}" />
						<!--Slider Description example-->
						
					</div>
					{{/each}}
				</div>
				{{!-- <div id="carouselSlidesOnly" class="carouselBanner slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="item active">
							<img  src="/uploads/scotstudyBanner.jpg">
						</div>
						{{#each banner}}
						<div class="item">
							<img style="height:400px" src="/uploads/{{this.path}}">
							<div class="carousel-caption">
						
							</div>
						</div>
						{{/each}}

					</div>
				</div> --}}
			</div>
		</div>
	</div>
</div>

</div>
<!-- slider end here -->

<!-- service start here -->
<div class="service">
	<div class="container">
		<div class="row">
			<!-- aboutweek start here -->
			<div class="aboutweek">
				<div class="container">
					<div class="row">
						{{!-- <div class="col-lg-12 col-md-12 col-sm-12"
							style="border:1px solid #000; background-color:rgb(193, 193, 212)">
							<div style="text-align:center">
								<div class="row">
									<div class="col-lg-3 col-md-3"></div>
									<div class="col-lg-6 col-md-6">
										<h1 style="font-size:60px; text-align:center"><strong>Simple
												Process</strong>
										</h1>"... take full charge of your future"
									</div>
									<div class="col-lg-3 col-md-3">
										<button style="margin:15%" class="btn btn-primary"
											onclick="window.location.href = '/user/login';" id="btnReg"
											type="button">APPLY
											NOW</button>
									</div>
								</div>
							</div>
						</div> --}}
						<div style="text-align:center">
							<div class="col-lg-4"><a target="_blank"
									href="https://play.google.com/store/apps/details?id=io.scotStudy.softnergylimited&hl=en">
									<img src="/scotia-android.png" class="pull-left hidden-xs" alt="img"
										title="img" /></a>
							</div>
							<div style="margin-bottom: 10px;" class="col-lg-4">
								<h2>Simple Process</h2>
								<p class="lead">... take full charge of your future</p>
								<button style="" class="btn btn-primary" onclick="window.location.href = '/user/login';"
									id="btnReg" type="button">APPLY
									NOW</button>
							</div>
							<div class="col-lg-4"><img src="/ios.png" class="pull-right hidden-xs" alt="img"
									title="img" />
							</div>

						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
					<a href="/user/register">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 box text-center">
							<div class="icons">
								<div class="icon">
									<img src="/main_theme/images/user_awake.png" class="img-responsive" alt="icon"
										title="icon" />
								</div>
							</div>
							<h4>Create your account</h4>
						</div>
					</a>
					<a href="/courses">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 box text-center">
							<div class="icons">
								<div class="icon">
									<img src="/main_theme/images/notepad.png" class="img-responsive" alt="icon"
										title="icon" />
								</div>
							</div>
							<h4>Apply to preferred institution</h4>
						</div>
					</a>
					<a href="/dashboard">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 box text-center">
							<div class="icons">
								<div class="icon">
									<img src="/main_theme/images/binoculars2.png" class="img-responsive" alt="icon"
										title="icon" />
								</div>
							</div>
							<h4>Monitor your application</h4>
						</div>
					</a>

				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<a href="/visa-application-guideline">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 box text-center">
							<div class="icons">
								<div class="icon">
									<img src="/main_theme/images/support.png" class="img-responsive" alt="icon"
										title="icon" />
								</div>
							</div>
							<h4>Visa guidance & application</h4>
						</div>
					</a>
					<a href="/pre-departure">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 box text-center">
							<div class="icons">
								<div class="icon">
									<img src="/main_theme/images/paper_plane.png" class="img-responsive" alt="icon"
										title="icon" />
								</div>
							</div>
							<h4>Pre-departure</h4>
						</div>
					</a>
					<a href="/about-scotland">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 box text-center">
							<div class="icons">
								<div class="icon">
									<img src="/main_theme/images/world_asia.png" class="img-responsive" alt="icon"
										title="icon" />
								</div>
							</div>
							<h4>Settle in Scotland</h4>
						</div>
					</a>
				</div>
			</div>


		</div>
	</div>
</div>
<!-- service end here -->
<div class="service">
	<div class="container">
		<div class="row">
			<div class="col-xs-6"><a target="_blank"
					href="https://play.google.com/store/apps/details?id=io.scotStudy.softnergylimited&hl=en">
					<img src="/scotia-android.png" class="pull-left hidden-lg hidden-md hidden-sm" alt="img" title="img" /></a>
			</div>
			
			<div class="col-xs-6"><img src="/ios.png" class="pull-right hidden-lg hidden-md hidden-sm" alt="img" title="img" />
			</div>
		</div>
	</div>
</div>
<!-- about start here -->
<div class="course">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div id="demo2">
					{{#each schools}}
					<div class="slide">
						<img src="/uploads/{{this.banner}}" />
						<!--Slider Description example-->
						<div class="slide-desc">
							<h2>{{this.name}}</h2>
							<p class="hidden-xs">{{this.sellingPoint}}</p>
						</div>
					</div>
					{{/each}}
				</div>
				{{!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="item active">
							<img class="d-block w-100" src="/uploads/first_slider.jpg">
							<div class="carousel-caption">
							</div>
						</div>
						
						{{#each schools}}
						<div class="item">
							<img class="d-block w-100" src="/uploads/{{this.banner}}">
							<div class="carousel-caption">
								<h3 style="background-color:#000">{{this.name}}</h3>
								<p class="hidden-xs" style="background-color:#000; font-size:10px">{{this.sellingPoint}}
								</p>
							</div>
						</div>
						{{/each}}

					</div>
				</div> --}}

			</div>
		</div>
	</div>
</div>


<!-- about end here -->

<!-- courses start here -->
<div class="course">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="commontop text-center">
					<h2>{{best}}</h2>
					<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
					<hr>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="courses owl-carousel">
				{{#each data}}
				<div class="item">
					<div class="col-sm-12 col-xs-12">
						<div class="product-thumb">
							<div class="image">
								<a href="#">
									{{#if this.path}}
									<img style="height:150px" src="/uploads/{{this.path}}" class="img-responsive"
										alt="img" title="img" />
									{{else}}
									<img style="height:150px" src="/main_theme/images/course.png" class="img-responsive"
										alt="img" title="img" />
									{{/if}}
								</a>
							</div>
							<div class="caption">
								<h3><a
										href="/detail/{{this.Institution.name}}/{{this.name}}/{{this.id}}">{{this.Institution.name}}</a>
								</h3>
								<h3><strong>{{this.name}} </strong></h3>
								<h4 style="font-size:13px">{{this.institution.name}}</h4>
								<p></p>
								<ul class="list-inline">
									{{!-- <li>
										<a href="#"></i><strong>{{this.DegreeType.name}}</strong></a>
									</li> --}}

									<li><strong>{{this.fee}}</strong></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				{{/each}}
				<div class="item">
					<div class="col-sm-12 col-xs-12">
						<div class="product-thumb">
							<div class="image">
								<a href="/popular-Courses">
									<img style="height:190px" src="/uploads/direction.jpg" class="img-responsive"
										alt="img" title="img" />
								</a>
							</div>
							<div class="caption">
								<h3><a href="/popular-Courses">More Best Selling Courses ...</a>
								</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- courses end here -->
<div class="course">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<div class="commontop text-center">
					<h2>Testimonials</h2>
					<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
					<hr>
				</div>
			</div>
			<div class="clearfix"></div>

			<div class="col-sm-12 col-xs-12">

				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="video-responsive">
						<iframe height="315" src="https://www.youtube.com/embed/Tlyz-FOoOL0">
						</iframe>
					</div>
				</div>

				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="video-responsive">
						<iframe height="315" src="https://www.youtube.com/embed/OLTBbhdGi-w">
						</iframe>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="video-responsive">
						<iframe height="315" src="https://www.youtube.com/embed/dYqEDeP4LYc">
						</iframe>
					</div>

				</div>

				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="video-responsive">
						<iframe height="315" src="https://www.youtube.com/embed/LGBxYJsb5-g">
						</iframe>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>

<!-- featured start here -->


<div class="course">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<div class="commontop text-center">
					<h2>Sponsors</h2>
					<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
					<hr>
				</div>
			</div>
			<div class="clearfix"></div>
			<!-- Set up your HTML -->
			<div class="owl-carousel">
				<div> <img style="height:150px" src="/sponsors/scotia-world.jpg" class="img-thumbnail" alt="img" title="img" />
				</div>
				<div> <img style="height:150px" src="/sponsors/swie.jpg" class="img-thumbnail" alt="img" title="img" />
				</div>

				<div> <img style="height:150px"
						src="/sponsors/british-high-commission-nicosia-logo-120160517124722_l.jpg" class="img-thumbnail"
						alt="img" title="img" /> </div>

				<div> <img style="height:150px" src="/sponsors/higherEducation.jpg" class="img-thumbnail" alt="img"
						title="img" /></div>



				<div> <img style="height:150px" src="/sponsors/ukvi.jpg" class="img-thumbnail" alt="img" title="img" />
				</div>

				<div> <img style="height:150px" src="/sponsors/BritishCouncil.jpg" class="img-thumbnail" alt="img" title="img" />
				</div>

			</div>



		</div>
	</div>
</div>


<script>
	$(document).ready(function () {

		$(".owl-carousel").owlCarousel({
			margin: 10,
			loop: true,
			autoWidth: false
		});

		$('.carousel').carousel({
			interval: 10000
		})
		$('.carouselBanner').carousel({
			interval: 6000
		})
	});
</script>
