<title>Scotiaworld | All-Institutions</title>
<link href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>

<!-- bread-crumb start here -->
<div class="bread-crumb">
	<img src="/main_theme/images/banner-top.jpg" class="img-responsive" alt="banner-top" title="banner-top">
	<div class="container">
		<div class="matter">
			<h2>ALL HIGHER INSTITUTIONS IN SCOTLAND</h2>
			<ul class="list-inline">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="#">Current Page</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- bread-crumb end here -->

<!-- coures start here -->
<div class="coures">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 hidden-sm  hidden-xs">
				<div class="left">
					<h4>{{best}}</h4>
					<div class="popular">
						{{#each data }}
						<a href="/detail/{{this.Institution.name}}/{{this.name}}/{{this.id}}">
							<div class="box">
								<img style="height:150px" width="100%" src="/uploads/{{this.path}}"
									class="img-thumbnail" alt="img" title="img" />
								<p><strong>{{this.Institution.name}}</strong></p>
								<p>{{this.name}}</p>
								<span>{{this.fee}}</span>
							</div>
						</a>
						{{/each}}
						<hr>
						<h5 style="text-align: center;"><a href="/popular-Courses">View more ...</a></h5>
					</div>
				</div>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
				<div style="text-align: center;" class="col-sm-12 sort">
					<h2><strong>ALL INSTITUTIONS</strong></h2>
				</div>
				<div class="row feeCompareContainer">
					<div class="col-lg-12">
						<h4><strong id="schoolName1"></strong></h4>

						<table class="table table-striped">
							<thead>
								<tr>	
									<th scope="col">Institution</th>
									<th scope="col">City</th>
								</tr>
							</thead>
							<tbody>
								{{#each schools }}
								<tr>
									<td><a href="/school-faculties/{{this.name}}/{{this.id}}">{{this.name}}</a></td>
									<td>{{this.City.name}}</td>
								</tr>
								{{/each}}
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- coures end here -->


	<!-- coures end here -->