<!-- Waves Effect Css -->

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <a href="{{entity.url}}add" class="btn">Add new {{entity.name}}</a>
        </div>
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            {{entity.name}} list
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                {{#if entity.basic}}
                                <thead>
                                    <tr>
                                        <th>Name</th>

                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {{#each data}}
                                    <tr>
                                        <td>{{this.name}}</td>

                                        <td><a href="{{entity.url}}update/{{this.id}}"><img
                                                    style="height:25px; width:25px" src="/fancy_buttons/edit.ico" /></a>
                                        </td>
                                        <td><a href="{{entity.url}}delete/{{this.id}}"><img
                                                    style="height:25px; width:25px"
                                                    src="/fancy_buttons/delete.ico" /></a></td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                                {{/if}}
                                {{#if entity.degreeType}}
                                <thead>
                                    <tr>
                                        <th>Name</th>

                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {{#each data}}
                                    <tr>
                                        <td>{{this.name}}</td>

                                        <td><a href="{{entity.url}}update/{{this.id}}"><img
                                                    style="height:25px; width:25px" src="/fancy_buttons/edit.ico" /></a>
                                        </td>
                                        <td><a href="{{entity.url}}delete/{{this.id}}"><img
                                                    style="height:25px; width:25px"
                                                    src="/fancy_buttons/delete.ico" /></a></td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                                {{/if}}
                                {{#if entity.studyArea}}
                                <thead>
                                    <tr>

                                        <th>Name</th>
                                        <th>Edit</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    {{#each data}}
                                    <tr>
                                        <!-- <td>{{this.institution.name}}</td> -->
                                        <td>{{this.name}}</td>

                                        <td><a href="{{entity.url}}update/{{this.id}}"><img
                                                    style="height:25px; width:25px" src="/fancy_buttons/edit.ico" /></a>
                                        </td>

                                    </tr>
                                    {{/each}}
                                </tbody>
                                {{/if}}
                                {{#if entity.facultyImage}}
                                <thead>
                                    <tr>

                                        <th>Name</th>
                                        <th></th>
                                        <th>Faculty/Study Area</th>
                                        <th>Edit</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    {{#each data}}
                                    <tr>
                                        <!-- <td>{{this.institution.name}}</td> -->
                                        <td>{{this.name}}</td>
                                        <td>
                                            <img style="height:40px; width:40px" class="img-responsive thumbnail"
                                                src="/uploads/{{this.path}}">
                                        </td>
                                        <td>{{this.StudyArea.name}}</td>
                                        <td><a href="{{entity.url}}update/{{this.id}}"><img
                                                    style="height:25px; width:25px" src="/fancy_buttons/edit.ico" /></a>
                                        </td>

                                    </tr>
                                    {{/each}}
                                </tbody>
                                {{/if}}
                                {{#if entity.institution}}
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>City</th>
                                        <th></th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {{#each data}}
                                    <tr>
                                        <td>
                                            {{#if this.path}}
                                            <img style="height:30px; width:30px" class="img-responsive thumbnail"
                                                src="/uploads/{{this.path}}">
                                            {{else}}

                                            <img style="height:30px; width:30px" class="img-responsive thumbnail"
                                                src="/cancel.png">
                                            {{/if}}
                                        </td>
                                        <td>{{this.name}}</td>
                                        <td>{{this.City.name}}</td>
                                        <td><a href="{{entity.url}}update/{{this.id}}"><img
                                                    style="height:25px; width:25px" src="/fancy_buttons/edit.ico" /></a>
                                        </td>
                                        <td><a title="This enables you add fee range for faculties under this school"
                                                class="btn btn-primary" href="/feeRange/add/{{this.id}}">Add
                                                FeeRange</a></td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                                {{/if}}
                                {{#if entity.course}}
                                <thead>
                                    <tr>
                                        
                                        <th>Name</th>
                                        <th>Fee</th>
                                        <th>Duration</th>
                                        <th>Scholarship</th>
                                        <th>Institution</th>
                                        <th>Degree Type</th>
                                        <th>Study Area</th>
                                        <th></th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {{#each data}}
                                    <tr>
                                        
                                        <td>{{this.name}}</td>
                                        <td>{{this.fee}}</td>
                                        <td>{{this.duration}}</td>
                                        <td>{{this.scholarshipAmount}}</td>
                                        <td>{{this.Institution.name}}</td>
                                        <td>{{this.DegreeType.name}}</td>
                                        <td>{{this.StudyArea.name}}</td>
                                        <td><a href="{{entity.url}}popular/{{this.id}}"> {{#if this.isPopular}} Make
                                                unPopular{{else}} Make Popular{{/if}}</a></td>
                                        <td><a href="{{entity.url}}update/{{this.id}}"><img
                                                    style="height:25px; width:25px" src="/fancy_buttons/edit.ico" /></a>
                                        </td>
                                        <td><a href="{{entity.url}}delete/{{this.id}}"><img
                                                    style="height:25px; width:25px"
                                                    src="/fancy_buttons/delete.ico" /></a></td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                                {{/if}}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>
<!-- Jquery DataTable Plugin Js -->