<title>Scot-Study User Login | Login</title>
<!-- <div class="row">
<div class="col-lg-3"></div>
<div class="col-lg-6">
  {{#if success_msg}}
  <hr>
    <div class="alert alert-success">{{success_msg}}</div>
  {{/if}}

  {{#if error_msg}}
  <hr>
    <div class="alert alert-danger">{{error_msg}}</div>
  {{/if}}

  {{#if error}}
  <hr>
    <div class="alert alert-danger">{{error}}</div>
  {{/if}}
    <div class="address-box boxshadow">
        <h4>Login</h4>
      <form method="post">
          <div class="form-group">
              <input type="text" name="username" placeholder="Username" class="form-control" required/>
          </div>
          <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control" required/>
          </div>
          <button type="submit" class="cryptod-button-warning">Login</button><hr/>
          <div class="form-group">
              <div class="g-recaptcha" data-sitekey="6Lc-zXIUAAAAACe_rS1Q8DP7BNbly8LolGJGxcb3"></div>
          </div>

          <div style="text-align:center">Don't have an account? Register <a href="/register">here</a>.</div>
          <div style="text-align:center"> <a href="/forgotPassword">Forgot password?</a>.</div>
      </form>
    </div>

</div>
<div class="col-lg-3"></div>
</div> -->

<!-- login start here -->
<div class="login">
  <div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12 box padd0">
      <div class="col-md-3 col-sm-3 col-xs-6"></div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h5>sign in</h5>

        {{#if success_msg}}
        <hr>
        <div class="alert alert-success">{{success_msg}}</div>
        {{/if}}

        {{#if error_msg}}
        <hr>
        <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}}

        {{#if error}}
        <hr>
        <div class="alert alert-danger">{{error}}</div>
        {{/if}}
        <form method="post" action="/user/login">
          <div class="form-group">
            <label>Username*</label>
            <input type="text" required name="username" value="" id="input-text" class="form-control" />
          </div>
          <div class="form-group">
            <label>password*</label>
            <input type="password" required name="password" value="" id="input-password" class="form-control" />
          </div>
          <div class="links">
            <input type="checkbox" name="credit" class="checkclass checkbox-inline" />Remember me
            <a href="/forgot" class="pull-right">Forgot Password?</a>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login Now</button>
        </form>

        <div class="donot">Don't have an account? <a href="/user/register">Create a New Account to enable you apply.</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6"></div>
    </div>
  </div>
</div>
<!-- login end here -->
<script>
  $(document).ready(function () {
    $("#menu").hide();
  })
</script>