<title>Scot-Study Register to apply | Registration</title>
<!-- <div class="row">
<div class="col-lg-3"></div>
<div class="col-lg-6">
  {{#if success_msg}}
  <hr>
    <div class="alert alert-success">{{success_msg}}</div>
  {{/if}}

  {{#if error_msg}}
  <hr>
    <div class="alert alert-danger">{{error_msg}}</div>
  {{/if}}

  {{#if error}}
  <hr>
    <div class="alert alert-danger">{{error}}</div>
  {{/if}}
    <div class="address-box boxshadow">
        <h4>Login</h4>
      <form method="post">
          <div class="form-group">
              <input type="text" name="username" placeholder="Username" class="form-control" required/>
          </div>
          <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control" required/>
          </div>
          <button type="submit" class="cryptod-button-warning">Login</button><hr/>
          <div class="form-group">
              <div class="g-recaptcha" data-sitekey="6Lc-zXIUAAAAACe_rS1Q8DP7BNbly8LolGJGxcb3"></div>
          </div>

          <div style="text-align:center">Don't have an account? Register <a href="/register">here</a>.</div>
          <div style="text-align:center"> <a href="/forgotPassword">Forgot password?</a>.</div>
      </form>
    </div>

</div>
<div class="col-lg-3"></div>
</div> -->


<script type="text/javascript" src="/js/jquery-1.11.1.js"></script>

<script type="text/javascript" src="/js/jquery.validate.js"></script>

<!-- login start here -->
<div class="login">
  <div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12 box padd0">
      <div class="col-md-3 col-sm-3 col-xs-6"></div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h5 style="text-align: center;">sign UP</h5>

        {{#if username}}
        <div class="alert alert-danger">Username already exist consider a different one</div>
        {{/if}}
        {{#if mail}}
        <div class="alert alert-danger">Email already exist consider a different one</div>
        {{/if}}
        <!-- {{#if errors}}
              {{#each errors}}
                <div class="alert alert-danger">{{msg}}</div>
              {{/each}}
        {{/if}} -->
        <div class="panel-body">
          <form method="post" id="signupForm1" class="form-horizontal" action="/user/register">
            <div class="form-group">
              <label class="col-sm-4 control-label" for="username">Username*</label>
              <div class="col-sm-8">
                <input type="text" name="username" value="" placeholder="Example : johndoe" id="username"
                  class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="email">Email*</label>
              <div class="col-sm-8">
                <input type="email" name="email" value="" placeholder="abc@example.com" id="email"
                  class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="phone">Phone*</label>
              <div class="col-sm-8">
                <input type="tel" name="phone" required value="" placeholder="Phone" id="phone" class="form-control" />
              </div>

            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label" for="password">password*</label>
              <div class="col-sm-8">
                <input type="password" name="password" value="" placeholder="********" id="password"
                  class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="confirmPassword">comfirm password*</label>
              <div class="col-sm-8">
                <input type="password" name="confirmPassword" value="" placeholder="********" id="confirmPassword"
                  class="form-control" />
              </div>
            </div>
            <div class="col-sm-12">
              <div class="col-sm-4"></div>
              <div class="col-sm-8">
                <button type="submit" class="btn btn-primary btn-block">Register now</button>
              </div>
            </div>

            <!-- <div class="links">
						<input type="checkbox"  name="credit" class="checkclass checkbox-inline"/>
						By register, I read & accept the terms.
					</div> -->


          </form>

          <div style="padding: 10;" class="donot">
            Have an account?
            <a href="/user/login">Login Now</a>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-6"></div>
    </div>
  </div>
</div>
<script type="text/javascript">

  $(document).ready(function () {
    var requestUrl = "http://ip-api.com/json";
    $.ajax({
      url: requestUrl,
      type: 'GET',
      success: function (json) {
        document.getElementById("code").text = json.countryCode;
      },
      error: function (err) {
        console.log("Request failed, error= " + err);
      }
    });
    $("#menu").hide();


    $("#signupForm1").validate({
      rules: {

        username: {
          required: true,
          minlength: 2
        },
        password: {
          required: true,
          minlength: 5
        },
        confirmPassword: {
          required: true,
          minlength: 5,
          equalTo: "#password"
        },
        email: {
          required: true,
          email: true
        }
      },
      messages: {

        username: {
          required: "Please enter a username",
          minlength: "Your username must consist of at least 2 characters"
        },
        password: {
          required: "Please provide a password",
          minlength: "Your password must be at least 5 characters long"
        },
        confirmPassword: {
          required: "Please provide a password",
          minlength: "Your password must be at least 5 characters long",
          equalTo: "Please enter the same password as above"
        },
        email: "Please enter a valid email address"
      },
      errorElement: "em",
      errorPlacement: function (error, element) {
        // Add the `help-block` class to the error element
        error.addClass("help-block");

        // Add `has-feedback` class to the parent div.form-group
        // in order to add icons to inputs
        element.parents(".col-sm-8").addClass("has-feedback");

        if (element.prop("type") === "checkbox") {
          error.insertAfter(element.parent("label"));
        } else {
          error.insertAfter(element);
        }

        // Add the span element, if doesn't exists, and apply the icon classes to it.
        if (!element.next("span")[0]) {
          $("<span class='glyphicon glyphicon-remove form-control-feedback'></span>").insertAfter(element);
        }
      },
      success: function (label, element) {
        // Add the span element, if doesn't exists, and apply the icon classes to it.
        if (!$(element).next("span")[0]) {
          $("<span class='glyphicon glyphicon-ok form-control-feedback'></span>").insertAfter($(element));
        }
      },
      highlight: function (element, errorClass, validClass) {
        $(element).parents(".col-sm-8").addClass("has-error").removeClass("has-success");
        $(element).next("span").addClass("glyphicon-remove").removeClass("glyphicon-ok");
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).parents(".col-sm-8").addClass("has-success").removeClass("has-error");
        $(element).next("span").addClass("glyphicon-ok").removeClass("glyphicon-remove");
      }
    });
  });
</script>
<!-- login end here -->





<!--
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">

        {{#if user}}
                <div class="alert alert-danger">Username has taken already try new</div>
        {{/if}}
        {{#if mail}}
                <div class="alert alert-danger">Email has taken already try new</div>
        {{/if}}
        {{#if errors}}
              {{#each errors}}
                <div class="alert alert-danger">{{msg}}</div>
              {{/each}}
        {{/if}}
        <div class="address-box boxshadow">
            <h4>Register</h4>
          <form action="/register" method="post">
            <div class="form-group">
                <input type="text" name="name" placeholder="Full name" class="form-control" required/>
            </div>
              <div class="form-group">
                  <input type="text" name="username" placeholder="Username" class="form-control" required/>
              </div>
              <div class="form-group">
                  <input type="email" name="email" placeholder="Email" class="form-control" required/>
              </div>
              <div class="form-group">
                  <input type="password" name="password" placeholder="Password" class="form-control" required/>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" name="password2">
              </div>
              <button type="submit" class="cryptod-button-warning">Register</button><hr/>
              <div class="form-group">
                  <div class="g-recaptcha" data-sitekey="6Lc-zXIUAAAAACe_rS1Q8DP7BNbly8LolGJGxcb3"></div>
              </div>
          </form>
        </div>

    </div>
    <div class="col-lg-3"></div>
</div> -->