<link rel="stylesheet" href="/css/login.css">

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">

      <h1>Elfexo</h1>
      {{#if errors}}
      {{#each errors}}
      <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
      {{/if}}
      {{#if done}}
      <div class="alert alert-success">{{done}}</div>
      {{/if}}
      {{#if undone}}
      <div class="alert alert-danger">{{undone}}</div>
      {{/if}}
      {{#if errorMsg}}
      <div class="alert alert-warning">{{message}}</div>
      {{else}}
      <!-- Login Form -->
      <form action="/resetPassword" method="post">
        <div class="form-group">
          <input type="password" class="fadeIn second" placeholder="Password" name="password">
          <input type="hidden" class="fadeIn second" value="{{userId}}" name="userId">
        </div>
        <div class="form-group">
          <input type="password" class="fadeIn third" placeholder="Confirm Password" name="password2">
        </div>

        <input type="submit" class="fadeIn fourth" value="Reset Password">
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Go to the Site</a>
      </div>
      {{/if}}
    </div>
  </div>
</div>