<section class="content">
  <div class="container-fluid">

    <!-- Exportable Table -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr>

        <div class="card">
          <div class="header">
            <h2>
              Sent Messages
            </h2>
            <div class="text-right">
              <a class="btn btn-primary" href="/user/compose"><i class="material-icons">
                  create
                </i> Compose</a>
            </div>
          </div>
          <div class="body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                <thead>
                  <tr>
                    <th>Subject</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each data}}
                  <tr>
                    <td><a href="/user/inbox-view/{{this.id}}/{{this.senderName}}">{{this.subject}} </a></td>
                    <td><a href="/user/inbox-view/{{this.id}}/{{this.senderName}}">{{this.createdAt}}</a> </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>

        </div>


      </div>
    </div>
    <!-- #END# Exportable Table -->
  </div>
</section>


{{!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<a href="/coinAdd" class="btn btn-primary">Add Crypto</a>
<hr>
{{#if success_msg}}
<hr>
<div class="alert alert-success">{{success_msg}}</div>
{{/if}}
<table id="example" class="display" style="width:100%">
  <thead>
    <tr>
      <th></th>
      <th>Sent by</th>
      <th>Subject</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
      <td><img style="height: 30px; width:30px" src="/photos/{{this.senderPhoto}}" </td> <td>{{this.username}} USD</td>
      <td>{{this.sendName}}</td>
      <td>{{this.subject}} </td>
      <td>{{this.message}}</td>
      <td></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<script>
  $(document).ready(function () {
    $('#example').DataTable();
  });
</script> --}}